<p id="notice"><%= notice %></p>


    <% @video_lessons.each do |video_lesson| %>
    
        <div><small>uploaded <%= time_ago_in_words(video_lesson.created_at) %> ago</small></div>
        <h3><%= video_lesson.title %></h3>
        <div class="tags">tags: <%= video_lesson.tags %></div>
        <p><div class="embed-container">
        <%= embed(video_lesson.youtube) %>
        </div></p>
        <p><%= video_lesson.description %></p>       
        <p><%= link_to 'Show', video_lesson %>
        <%= link_to 'Edit', edit_video_lesson_path(video_lesson) %>
        <%= link_to 'Delete', video_lesson, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <hr>
      
    <% end %>

<br>


